body {
    color: oldlace;
    background-image: url(../frontend/404286887_10160230783398590_760565564842502690_n.jpg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: right;
}

h1 {
    color: red;
    border-width: 5px;
    box-shadow: 10px 15px 25px cornflowerblue;
    border-color: black;
    border-style: dashed;
}

h2 {
    color: blueviolet;
    font-size: x-small;
}

p {
    color: black;
}

#firstpiece {
    color: magenta;
}

b {
    color: brown;
    font-style: oblique;
}

.last-piece {
    color: blue;
}
